# .DS_Store in all sub folders
**/.DS_Store

# Editor settings
.vscode/
.idea/

# Binary file
yourSixRobot

# DB files
dbfiles/

# Temporary stuff
tmp/
tmp/runner-build-errors.log
scratchpad
yoursix-programming-assignment_backend.pdf

# Ignore `bin` dir etc
bin/
*/bin/*

