# .DS_Store in all sub folders
**/.DS_Store

# Editor settings
.vscode/
.idea/

# Binary file
direkt-comment-socket-svc
direktCommentSocketSvc

# Temporary stuff
tmp/
tmp/runner-build-errors.log
scratchpad

# Ignore `bin` dir etc
bin/
*/bin/*

